<form class="row p-4 align-items-center justify-content-center" (submit)="$event.preventDefault()">
    <div class="col-4 align-items-center justify-content-center">
        <mat-form-field class="example-form-field" appearance="fill" style="width: 100%">
            <mat-label>Command</mat-label>
            <input id="searchFieldInput" matInput type="text" [(ngModel)]='inputValue' [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <div class="example-button-row">
            <button mat-raised-button style="margin-right: 20px;" (click)="createLanguage()">Create</button>
            <button mat-raised-button color="accent" (click)="deleteLanguage()">Remove</button>
        </div>
        <div style="margin-top: 50px;">
            <ul *ngFor="let language of languages">
                <li class="parentNav">{{ language.name }}</li>
            </ul>
        </div>
    </div>
</form>