<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: rgb(0, 0, 0);" onclick="return false;">Admin Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/darmar-app/admin/registration'"
            routerLinkActive="active">User Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
            [routerLink]="'/darmar-app/admin/expertises-and-specializations'" routerLinkActive="active">Expertises and
            Specializations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/darmar-app/admin/languages'"
            routerLinkActive="active">Languages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/darmar-app/admin/add-intership'"
            routerLinkActive="active">Add student's intership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/darmar-app/admin/add-college-info'"
            routerLinkActive="active">Add student's passed subject</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/darmar-app/admin/add-uni-projects'"
            routerLinkActive="active">Add student's finished projects</a>
        </li>
      </ul>
      <app-header-common></app-header-common>
    </div>
  </div>
</nav>